* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f4f5fb;
    overflow-x: hidden;
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    margin-left: 30px;
}

.start-btn {
    margin-right: 30px;
}

.logo img {
    width: 130px;
}

nav ul {
    display: flex;
    gap: 22px;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
    color: #1e1e1e;
}

.start-btn {
    background: #2d328f;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 12px;
}

.start-btn span {
    width: 34px;
    height: 34px;
    background: white;
    color: black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1vw;
    gap: 20px;
}

.left-side {
    width: 48%;
    position: relative;

    margin-left: 60px;
}

.blur-ball {
    position: absolute;
    left: -120px;
    top: -10px;
    width: 170px;
}

.tag {
    display: inline-block;
    background: #e5ddff;
    color: #4b45d1;

    padding: 8px 18px;
    border-radius: 10px;

    font-size: 11px;
    font-weight: 500;

    width: fit-content;
}

.left-side h1 {
    margin-top: 1vw;

    font-size: clamp(28px, 2.5vw, 58px);

    line-height: 1.15;
    font-weight: 700;
}

.left-side h1 span {
    color: #31358f;
    font-style: italic;
}

.description {
    margin-top: 1vw;

    font-size: clamp(12px, 0.9vw, 18px);

    line-height: 1.8;

    width: 92%;

    color: #5e6270;
}

/* CARDS */

.cards {
    display: flex;

    gap: 1vw;

    margin-top: 2vw;
}

.card {
    width: 7vw;
    min-width: 110px;

    height: 8vw;
    min-height: 118px;
    border: 2px solid #3f4598;
    border-radius: 16px;
    background: white;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
}

.cross {
    color: red;
    font-size: 14px;
    margin-bottom: 0;
}

.check {
    color: green;
    font-size: 14px;
    margin-bottom: 0;
}

.card p {
    font-size: 9px;
    line-height: 1.35;
    word-break: break-word;
}

/* WHATSAPP BUTTON */

.whatsapp-btn {
    margin-top: 28px;
    background: #2d328f;
    color: white;
    border: none;

    padding: 10px 20px;
    border-radius: 40px;

    font-size: 12px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-icon img {
    width: 24px;
}

.bottom-text {
    margin-top: 18px;
    color: #5e6270;
    font-size: 11px;
}

/* RIGHT SIDE */

.right-side {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

.ecosystem {
    position: relative;
    width: min(430px, 38vw);
    height: min(430px, 38vw);
    animation: rotateEcosystem 12s linear infinite;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.outer {
    width: 100%;
    height: 100%;
    background: rgba(255, 214, 214, 0.35);
}

.middle {
    width: 76%;
    height: 76%;
    background: rgba(255, 201, 220, 0.4);
    top: 12%;
    left: 12%;
}

.inner {
    width: 52%;
    height: 52%;
    background: rgba(255, 189, 215, 0.4);
    top: 24%;
    left: 24%;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: clamp(22px, 2vw, 42px);
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    animation: cancelRotation 12s linear infinite;
}

@keyframes cancelRotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.small-circle {
    position: absolute;

    width: 85px;
    height: 85px;
    background: #c6c0ff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #333;
    animation: counterRotate 12s linear infinite;
}

.top {
    top: -25px;
    left: 165px;
}

.left {
    top: 85px;
    left: -35px;
}

.right {
    top: 85px;
    right: -35px;
}

.bottom {
    bottom: -25px;
    left: 165px;
}

.left-bottom {
    bottom: 85px;
    left: -35px;
}

.right-bottom {
    bottom: 85px;
    right: -35px;
}

/* STATS */

.stats-section {
    margin-top: 4vw;
    background: white;
    border-radius: 32px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 30px 20px;

    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.stat-box {
    text-align: center;
}

.stat-box h2 {
    color: #2d328f;

    font-size: clamp(42px, 3vw, 72px);
    font-weight: 700;

    margin-bottom: 10px;
}

.stat-box p {
    color: #444;
    font-size: 11px;
    line-height: 1.5;
}

.stat-box {
    text-align: center;
    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-box img {
    width: 28px;
    height: 28px;

    object-fit: contain;

    margin-bottom: 14px;
}

/* ========================================= */
/* =============== TABLET ================== */
/* ========================================= */

@media (max-width: 1200px) {

    body {
        zoom: 1;
    }

    .main-container {
        padding: 20px 40px;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 0px;
        gap: 20px;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
        justify-content: center;
    }

    .left-side h1 {
        font-size: 42px;
    }

    .description {
        width: 100%;
    }

    .cards {
        flex-wrap: wrap;
    }

    .stats-section {
        flex-wrap: wrap;
        gap: 40px;
    }

    nav ul {
        gap: 16px;
    }
}

/* ========================================= */
/* =============== MOBILE ================== */
/* ========================================= */

@media (max-width: 768px) {

    body {
        zoom: 1;
    }

    .main-container {
        padding: 20px;
    }

    /* NAVBAR */

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        margin-left: 0;
    }

    .start-btn {
        margin-right: 0;
        font-size: 13px;
        padding: 8px 18px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
        font-size: 12px;
    }

    /* HERO */

    .hero-section {
        flex-direction: column;
        gap: 60px;
        margin-top: 20px;
    }

    .left-side {
        width: 100%;
    }

    .tag {
        font-size: 11px;
    }

    .left-side h1 {
        font-size: 32px;
        line-height: 1.3;
    }

    .description {
        width: 100%;
        font-size: 14px;
    }

    /* CARDS */

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }

    .card {
        width: 140px;
        height: 140px;
    }

    .card.active {
        width: 125px;
    }

    /* WHATSAPP BUTTON */

    .whatsapp-btn {
        font-size: 13px;
        padding: 10px 18px;
    }

    .bottom-text {
        font-size: 12px;
        line-height: 1.8;
    }

    /* ECOSYSTEM */

    .right-side {
        width: 100%;
        justify-content: center;
    }

    .ecosystem {
        width: 320px;
        height: 320px;
    }

    .outer {
        width: 320px;
        height: 320px;
    }

    .middle {
        width: 240px;
        height: 240px;
        top: 40px;
        left: 40px;
    }

    .inner {
        width: 160px;
        height: 160px;
        top: 80px;
        left: 80px;
    }

    .main-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
    }

    .small-circle {
        width: 65px;
        height: 65px;
        font-size: 10px;
        padding: 6px;
    }

    .top {
        top: -18px;
        left: 125px;
    }

    .left {
        top: 65px;
        left: -18px;
    }

    .right {
        top: 65px;
        right: -18px;
    }

    .bottom {
        bottom: -18px;
        left: 125px;
    }

    .left-bottom {
        bottom: 65px;
        left: -18px;
    }

    .right-bottom {
        bottom: 65px;
        right: -18px;
    }

    /* STATS */

    .stats-section {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }

    .stat-box h2 {
        font-size: 42px;
    }

    .stat-box p {
        font-size: 14px;
    }

    .blur-ball {
        width: 100px;
        left: -50px;
    }
}

@keyframes rotateEcosystem {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counterRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* ================= BUSINESS SECTION ================= */
.business-top {
    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 2%;
}

.business-left {
    width: 56%;
}

.business-left h2 {
    font-size: 2.2rem;
    line-height: 1.25;
    font-weight: 700;
    color: #000;

    letter-spacing: -2px;

    margin-bottom: 3.2rem;

    max-width: 620px;
}

.business-left h2 span {
    color: #3437A5;
    font-style: italic;
    font-weight: 700;
}

.business-left p {
    font-size: 0.95rem;

    line-height: 2.1;

    color: #5D6475;

    margin-bottom: 2.2rem;

    max-width: 760px;

    font-weight: 400;
}

.business-right {
    width: 40%;
    display: flex;
    justify-content: center;
}

/* ================= CARDS ================= */

.problem-cards {
    margin-top: 4rem;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 1.2rem;

    align-items: stretch;
}

.problem-card {
    background: #ffffff;

    border-radius: 22px;

    padding: 2.2rem 2rem;

    min-height: 270px;

    width: 100%;

    box-sizing: border-box;
}

.problem-card h3 {
    font-size: 1.05rem;

    line-height: 1.6;

    font-weight: 500;

    color: #3437A5;

    margin-bottom: 1.2rem;
}

.problem-card .line {
    width: 100%;

    border-top: 2px dashed #D9D9D9;

    margin: 1rem 0 1.5rem;
}

.problem-card p {
    font-size: 0.92rem;

    line-height: 1.9;

    color: #5D6475;

    font-weight: 400;
}

/* ================= BOTTOM ================= */

.backend-text {
    margin-top: 7rem;
    text-align: center;
}

.backend-text h2 {
    font-size: 3.2vw;
    line-height: 1.4;

    margin-bottom: 2rem;

    color: #000;
}

.backend-text h2 span {
    color: #3437A5;
    font-style: italic;
}

.backend-text p {
    width: 65%;

    margin: auto;

    font-size: 1.1vw;
    line-height: 2;

    color: #5D6475;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

    .business-top {
        flex-direction: column;
    }

    .business-left,
    .business-right {
        width: 100%;
    }

    .business-left h2,
    .backend-text h2 {
        font-size: 42px;
    }

    .business-left p,
    .backend-text p {
        font-size: 18px;
    }

    .problem-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .problem-card h3 {
        font-size: 22px;
    }

    .problem-card p {
        font-size: 16px;
    }

    .backend-text p {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .problem-cards {
        grid-template-columns: 1fr;
    }

    .business-left h2,
    .backend-text h2 {
        font-size: 34px;
    }
}

.backend-image {
    width: 92%;
    max-width: 620px;
}

.business-right {
    width: 44%;

    display: flex;

    justify-content: center;

    align-items: flex-start;

    position: relative;

    padding-top: 2rem;
}

.pink-star {
    position: absolute;

    width: 32px;

    top: 3%;
    right: 2%;
}

/* ================= SERVICES SECTION ================= */

.services-section {
    width: 82%;
    margin: 6rem auto;
}

.service-card {
    width: 105%;
    margin: 0 auto 28px;
    background: #fff;
    border-radius: 28px;

    padding: 38px 50px;

    display: flex;
    align-items: center;
    gap: 40px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.service-number {
    font-size: 92px;
    font-weight: 300;
    color: transparent;
    -webkit-text-stroke: 2px #3439A5;
    line-height: 1;
    min-width: 110px;
}

.service-content h3 {
    font-size: 34px;
    font-weight: 700;
    color: #3439A5;
    margin-bottom: 12px;
}

.service-content p {
    font-size: 15px;
    line-height: 1.8;
    color: #5F667A;
    margin-bottom: 18px;
    max-width: 900px;
}

.service-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.service-tags span {
    font-size: 14px;
    font-weight: 600;
    color: #384766;
}

.bottom-service-cards {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 2rem;

    margin-top: 2rem;
}

.small-service-card {
    flex: 1;
    background: #fff;
    border-radius: 24px;

    padding: 22px 28px;

    min-height: 120px;

    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

    position: relative;
}

.service-pill {
    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 0.55rem 1.2rem;

    background: #3437A5;

    color: white;

    border-radius: 999px;

    font-size: 0.9rem;

    font-weight: 600;

    margin-bottom: 1.5rem;
}

.small-service-card h4 {
    font-size: 1.35rem;

    line-height: 1.6;

    color: #384860;

    margin-bottom: 1rem;
}

.small-service-card p {
    font-size: 1rem;

    line-height: 1.9;

    color: #5D6475;
}

.arrow-btn {
    position: absolute;

    right: 2rem;

    bottom: 2rem;

    width: 42px;

    height: 42px;

    border-radius: 50%;

    background: #3437A5;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 1.3rem;
}

/* ===============================
   ALTERNATIVE COST SECTION
================================= */

.alternative-cost-section {
    width: 100%;

    padding: 70px 20px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.alternative-cost-section h2 {
    font-size: 22px;

    line-height: 1.15;

    font-weight: 700;

    color: #111;

    margin-bottom: 24px;
}

.alternative-cost-section h2 span {
    color: #3439A5;
    font-style: italic;
}

.alternative-cost-section p {
    max-width: 1050px;

    font-size: 16px;

    line-height: 1.8;

    color: #5F667A;
}
/* =========================================
   COST COMPARISON SECTION
========================================= */

.cost-comparison-section {

    width: 120%;

    margin-top: 3%;
    margin-left: -11%;

    padding: 4%;

    border-radius: 3%;

    background: linear-gradient(
        90deg,
        #ebe5f7 0%,
        #edf5f4 100%
    );
}

.cost-comparison-section h2 {

    text-align: center;

    font-size: 2.2vw;

    color: #2d328f;

    margin-bottom: 4%;
}

.top-cost-row {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 1.5%;

    margin-bottom: 3%;
}

.cost-card {

    width: 28%;

    background: white;

    border-radius: 1.5%;

    padding: 2%;

    box-shadow: 0 0.4% 1.2% rgba(0,0,0,0.08);
}

.cost-card h4 {

    font-size: 1.3vw;

    color: #2d328f;

    margin-bottom: 3%;
}

.cost-card span {

    display: block;

    color: #888;

    font-size: 0.9vw;

    margin-bottom: 2%;
}

.cost-card h3 {

    font-size: 2.2vw;

    margin-bottom: 3%;
}

.cost-card p {

    color: #5f667a;

    font-size: 1vw;

    margin-bottom: 7%;
}

.cost-card button {

    width: 100%;

    border: none;

    background: #2d328f;

    color: white;

    padding: 4%;

    border-radius: 0.8vw;

    font-size: 1vw;

    cursor: pointer;
}

.plus-sign {

    font-size: 3vw;

    font-weight: 700;
}

.bottom-cost-row {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 2%;

    margin-top: 2%;
}

.big-cost-card {

    width: 42%;

    background: white;

    border-radius: 1.5%;

    padding: 2%;

    box-shadow: 0 0.4% 1.2% rgba(0,0,0,0.08);
}

.big-cost-card h4 {

    font-size: 1.4vw;

    color: #2d328f;

    margin-bottom: 2%;
}

.big-cost-card span {

    display: block;

    color: #888;

    font-size: 0.9vw;

    margin-bottom: 2%;
}

.big-cost-card h3 {

    font-size: 2.4vw;

    margin-bottom: 2%;
}

.big-cost-card p {

    font-size: 1vw;

    color: #5f667a;

    margin-bottom: 5%;
}

.big-cost-card button {

    width: 100%;

    border: none;

    background: #2d328f;

    color: white;

    padding: 3.5%;

    border-radius: 0.8vw;

    font-size: 1vw;

    cursor: pointer;
}

.vs-text {

    font-size: 3vw;

    font-weight: 700;
}

.cost-footer {

    text-align: center;

    margin-top: 3%;

    font-size: 1vw;

    color: #5f667a;
}

/* =========================================
   TABLET
========================================= */

@media(max-width:992px){

    .top-cost-row{

        flex-wrap: wrap;
    }

    .cost-card{

        width: 45%;
    }

    .plus-sign{
        display:none;
    }

    .bottom-cost-row{

        flex-direction: column;
    }

    .big-cost-card{

        width: 100%;
    }

    .vs-text{

        margin: 3% 0;
    }
}

/* =========================================
   MOBILE
========================================= */

@media(max-width:768px){

    .cost-comparison-section h2{

        font-size: 6vw;
    }

    .cost-card{

        width: 100%;
    }

    .cost-card h4,
    .big-cost-card h4{

        font-size: 5vw;
    }

    .cost-card span,
    .big-cost-card span{

        font-size: 3.5vw;
    }

    .cost-card h3,
    .big-cost-card h3{

        font-size: 7vw;
    }

    .cost-card p,
    .big-cost-card p{

        font-size: 3.8vw;
    }

    .cost-card button,
    .big-cost-card button{

        font-size: 4vw;
    }

    .cost-footer{

        font-size: 3.5vw;
    }

    .vs-text{

        font-size: 10vw;
    }
}
/* =====================================
   JOURNEY SECTION
===================================== */

.journey-section{

    width:120%;

    margin-top:6%;
    margin-left:-11%;

    padding:6% 4%;

    background:linear-gradient(
        90deg,
        #f1ebf8 0%,
        #edf6f3 100%
    );

    border-radius:3%;
}

.journey-section h2{

    text-align:center;

    font-size:3vw;

    font-weight:700;

    margin-bottom:5%;
}

.journey-section h2 span{

    color:#2d328f;

    font-style:italic;
}

.journey-cards{

    width:100%;

    display:flex;

    justify-content:center;

    gap:1.2%;
}

.journey-card{

    position:relative;

    width:10%;

    height:38vw;

    overflow:hidden;

    border-radius:1vw;

    cursor:pointer;

    transition:all .4s ease;
}

.active-card{

    width:28%;
}

.journey-card img{

    width:100%;

    height:100%;

    object-fit:cover;
}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.65),
        rgba(0,0,0,.15)
    );
}

.card-content{

    position:absolute;

    left:6%;

    right:6%;

    bottom:6%;

    color:white;
}

.card-content h3{

    font-size:2vw;

    margin-bottom:4%;
}

.card-content p{

    font-size:1vw;

    line-height:1.8;
}

.vertical-text{

    position:absolute;

    left:50%;

    top:50%;

    transform:
        translate(-50%,-50%)
        rotate(-90deg);

    color:white;

    white-space:nowrap;

    font-size:1.6vw;

    font-weight:500;

    text-align:center;
}

/* HOVER EFFECT */

.journey-card:hover{

    width:28%;
}

.journey-card:hover .vertical-text{

    display:none;
}

.journey-card:hover .card-content{

    display:block;
}

/* MOBILE */

@media(max-width:768px){

    .journey-section h2{

        font-size:8vw;
    }

    .journey-cards{

        flex-direction:column;
    }

    .journey-card,
    .active-card{

        width:100%;

        height:70vw;
    }

    .vertical-text{

        transform:none;

        left:8%;

        bottom:8%;

        top:auto;

        font-size:5vw;
    }

    .card-content h3{

        font-size:6vw;
    }

    .card-content p{

        font-size:4vw;
    }
}
/* ===================================
   TEAM SECTION
=================================== */

.team-section {
    width: 140%;
    background: #2d328f;

    padding-top: 6%;
    padding-bottom: 6%;
    margin-left: -17%;

    position: relative;
}

.team-header {

    width: 70%;

    margin: auto;

    text-align: center;

    color: white;
}

.team-header h2 {

    font-size: 3.5vw;

    font-weight: 700;

    margin-bottom: 2%;
}

.team-header p {

    font-size: 1vw;

    line-height: 2;
}

.team-wrapper {

    width: 78%;

    margin: 1% auto 0;

    position: relative;

    border-radius: 2vw;

    overflow: visible;

    transform: translateY(92%);
}

.team-bg {

    width: 100%;

    display: block;
}

.team-card {

    position: absolute;

    background: rgba(45, 50, 143, 0.75);

    backdrop-filter: blur(6px);

    color: white;

    padding: 2%;

    border-radius: 1vw;
}

.profile-head {

    display: flex;

    align-items: center;

    gap: 4%;
}

.profile-head img {

    width: 18%;

    border-radius: 0.8vw;
}

.profile-head h3 {

    font-size: 2vw;
}

.team-card h4 {

    font-size: 1.8vw;

    margin-top: 4%;
    margin-bottom: 4%;
}

.team-card p {

    font-size: 1.1vw;

    line-height: 1.9;
}

/* LEFT */

.advocate {

    width: 34%;

    top: 4%;

    left: 3%;
}

/* RIGHT */

.cs {

    width: 30%;

    top: 4%;

    right: 3%;
}

/* CENTER BOTTOM */

.ca {

    width: 34%;

    bottom: 4%;

    left: 50%;

    transform: translateX(-50%);
}

/* =====================
   MOBILE
===================== */

@media(max-width:768px){

    .team-header{

        width:90%;
    }

    .team-header h2{

        font-size:8vw;
    }

    .team-header p{

        font-size:4vw;
    }

    .team-wrapper{

        width:95%;

        display:flex;

        flex-direction:column;

        gap:20px;

        overflow:visible;
    }

    .team-bg{

        display:none;
    }

    .team-card{

        position:relative;

        width:100%;

        top:auto;
        left:auto;
        right:auto;
        bottom:auto;

        transform:none;
    }

    .profile-head img{

        width:20%;
    }

    .profile-head h3{

        font-size:6vw;
    }

    .team-card h4{

        font-size:5vw;
    }

    .team-card p{

        font-size:3.8vw;
    }
}

